body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
